<div id='signin' class="container">
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username' name="username" ng-minlength=4 ng-maxlength=10 />
    <input type="password" ng-model='user.password' name="password" ng-minlength=4 ng-maxlength=10 />
    <button>signin</button>
    <span class="alert alert-danger" role="alert" ng-show="signinForm.username.$invalid">Please input between 4 and 10 characters</span>
    <span class="alert alert-danger" role="alert" ng-show="signinForm.password.$invalid">Please input between 4 and 10 characters</span>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
